
h1 {margin: 1.5em;0.5em;
	  		color: white;
   
	  	}
.blue {background-color: #2B3566;
}
.black {background-color: #242424}
.red {background-color: #DD1F32}


body{display: flex;
justify-content: space-around;
flex-wrap: wrap;
min-height: 100vh;}

div{
border-radius: 20px;
display: inline-block;
width: 344px;
height: 564px;
margin: 0;
}




p{margin-left: 3em;
width: 218px;
height: 87px;
left: 222px;
top: 237px;


font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 14px;

color: #FFFFFF;
}
a{}
.button1{margin-left: 3.7em;
    margin-top: 2em;
  background-color: #2B3566;
  border-style: solid ;
  color: white;
  padding: 15px 75px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
border-radius: 40px;
    border-width:thin;
    border-color: #45D3C2;
    font-weight: bold;
}

.button2{margin-left: 3.7em;
    margin-top: 2em;
  background-color: #242424;
  border-style: solid ;
  color: white;
  padding: 15px 75px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
border-radius: 40px;
    border-width:thin;
    border-color: blue;
font-weight: bold;}

.button3{margin-left: 3.7em;
    margin-top: 2em;
  background-color: #DD1F32;
  border-style: solid ;
  color: white;
  padding: 15px 75px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
border-radius: 40px;
    border-width:thin;
    border-color: #FDD91A;
font-weight: bold;}


.button3:hover{background-color: yellow;color: red;}
.button2:hover{background-color: blue;color: white;}
.button1:hover{background-color: #45D3C2;color: darkblue;}